/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cx-nav-footer {
  padding: 0 450px;
}
/* regole selettive */
/* regole nav */
nav {
  background-color: white;
  height: 120px;
  width: 100%;
  line-height: 120px;
  position: fixed;
  top: 0;
  z-index: 900;
}

/* regole header */
header {
  margin-top: 120px;
}

/* regole footer */
footer {
  background-color: black;
}
/* debug */
.row {
  /* background-color: gray; */
  min-height: 100px;
  margin-bottom: 70px;
}
[class*="col-"] {
  background-color: lightblue;
  min-height: 90px;
  border: 1px solid black;
}
