/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.centratura {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bottone {
  background-color: black;
  border-radius: 5px;
  padding: 15px;
  display: inline-block;
  width: 170px;
  color: white;
  /* debug */
  border: 1px solid white;
  text-align: center;
}
/* regole selettive */
/* regole nav */
nav {
  background-color: white;
  height: 80px;
  width: 100%;
  line-height: 80px;
  position: fixed;
  top: 0;
  z-index: 900;
}
nav ul li, nav ul li div {
  display: inline-block;
  margin-left: 10px;
}
nav .row div:last-child {
  text-align: right;
}
nav a {
  color: black;
  font-size: 10px;
}
/* regole header */
header {
  margin-top: 80px;
  background-image: url(../img/helbiz-go-bg.f81ab10.jpg);
  background-size: cover;
  min-height: 650px;
  color: white;
  text-align: center;
}
.posi {
  position: relative;
}
/* regole main */
/* prima sezione */
main section:first-child img {
  max-height: 550px;
}
main > section:first-child .row {
  text-align: center;
  margin: 40px 0;
}
.scooter, .bike {
  background-color: #fafafa;
  position: relative;
}
.scooter .testo-s, .bike .testo-b {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
}
.scooter {
  margin: 0 12px 0 80px;
}
.bike {
  margin: 0 80px 0 12px;
}

/* seconda sezione */
/* box intero su */
.sfondo-senior {
  min-height: 500px;
  background-image: url(../img/index-banner.1f6fd0a.jpg);
  background-size: cover;
  background-position: left;
  position: relative;
}
/* box metà sx e dx giù */
.sx-iphone, .dx-iphone {
  height: 300px;
  position: relative;
}
/* box immagine iphone centrato */
.frame-iphone {
  width: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}
.frame-iphone img {
  width: 100%;
}

/* terza sezione */
/* box intero su */
.sfondo-panchine {
  background-image: url(../img/scooter.f0a0397.jpg);
  background-size: cover;
  min-height: 550px;
  margin: 0 60px;
  color: white;
}

/* box giù */
.sfondo-blu {
  margin: 40px 20px 40px 60px;
  background-color: #344454;
  text-align: center;
  padding-top: 30px;
  color: white;
  min-height: 500px;
}
.città1 {
  background-image: url(../img/city.7c8c928.jpg);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  margin: 40px 60px 40px 20px;
  color: white;
  padding-top: 30px;
  text-align: center;
}
.link3 {
  margin: 12px 0 0 0;
  color: white;
}

/* quarta sezione */
.sfondo-multi-foto {
  background-image: url(../img/multi-photo.jpg);
  background-size: cover;
  min-height: 480px;
  position: relative;
  margin-bottom: 40px;
}
.sfondo-multi-bianco {
  background-color: white;
  padding: 40px 60px;
}
/* regole footer */
footer {
  background-color: black;
  min-height: 600px;
  color: white;
}
footer hr {
  /* padding: 50px 0; */
  border-color: gray;
}
.bottone-footer {
  text-align: center;
}
.box-hr {
  min-height: 100px;
  line-height: 100px;
}
/* debug */
.row {
  /* background-color: gray; */
  /* min-height: 100px; */
  /* margin-bottom: 70px; */
}
[class*="col-"] {
  /* background-color: lightblue; */
  /* min-height: 90px; */
  /* border: 1px solid black; */
}
