/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.centratura {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* regole selettive */
/* regole nav */
nav {
  background-color: white;
  height: 80px;
  width: 100%;
  line-height: 75px;
  position: fixed;
  top: 0;
  z-index: 900;
}
nav ul li, nav ul li div {
  display: inline-block;
  margin-left: 10px;
}
nav .row div:nth-child(2) {
  text-align: right;
}
nav a {
  color: black;
  font-size: 12px;
}
nav h3 a {
  font-size: 18px;
}

/* regole header */
header {
  margin-top: 80px;
  background-image: url(../img/helbiz-go-bg.f81ab10.jpg);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  color: white;
  text-align: center;
  position: relative;
}
.bottone-header > img {
  max-width: 170px;
}
header .centratura{
  line-height: 50px;
}

/* regole main */
/* prima sezione */
main section:first-child img {
  max-height: 550px;
}
main > section:first-child .row {
  text-align: center;
  margin: 40px 0;
}
.scooter, .bike {
  background-color: #fafafa;
  position: relative;
  line-height: 40px;
}
.scooter .testo-s, .bike .testo-b {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
}
.scooter {
  margin: 0 12px 0 80px;
}
.bike {
  margin: 0 80px 0 12px;
}

/* seconda sezione */
/* box intero su */
.sfondo-senior {
  min-height: 500px;
  background-image: url(../img/index-banner.1f6fd0a.jpg);
  background-size: cover;
  background-position: left;
  position: relative;
}
/* box immagine iphone centrato */
.frame-iphone {
  max-width: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}
.frame-iphone img {
  width: 100%;
}
/* box metà sx e dx giù */
.x-iphone {
  height: 300px;
  position: relative;
}

/* terza sezione */
/* box intero su */
.sfondo-panchine {
  background-image: url(../img/scooter.f0a0397.jpg);
  background-size: cover;
  min-height: 550px;
  margin: 0 60px;
  color: white;
  position: relative;
}
.sfondo-panchine > div {
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}
.sfondo-panchine a {
  color: #5070C8;
}
/* box giù */
.sfondo-blu {
  margin: 40px 20px 40px 60px;
  background-color: #344454;
  text-align: center;
  padding-top: 30px;
  color: white;
  height: 492px;
  line-height: 40px;
}
.città1 {
  background-image: url(../img/city.7c8c928.jpg);
  background-size: cover;
  background-position: center;
  height: 492px;
  margin: 40px 60px 40px 20px;
  color: white;
  padding-top: 30px;
  text-align: center;
  line-height: 40px;
}
.link3 a {
  display: inline-block;
  color: white;
  padding-bottom: 10px;
}

/* quarta sezione */
.sfondo-multi-foto {
  background-image: url(../img/multi-photo.jpg);
  background-size: cover;
  min-height: 480px;
  position: relative;
  margin-bottom: 40px;
}
.sfondo-multi-bianco {
  background-color: white;
  padding: 40px 100px;
  font-size: 20px;
  line-height: 40px;
}
.social-link4 {
  text-align: center;
  word-spacing: 35px;
}
/* regole footer */
footer {
  background-color: black;
  min-height: 300px;
  color: white;
  padding: 100px 0;
  line-height: 35px;
}
footer a {
  color: gray;
}
.bottone-footer > img {
  max-width: 170px;
  border: 1px solid white;
  border-radius: 6px;
  margin: 0 4px;
}
.box-hr {
  margin: 35px 0;
  min-height: 110px;
  line-height: 110px;
  border-width: 1px 0;
  border-style: solid;
  border-color: gray;
}
.box-hr a i {
  color: white;
  padding-right: 10px;
  font-size: 18px;
}
footer .row > div > div:last-child {
  text-align: center;
}

/* regole media query desktop */
@media all and (min-width: 992px) {
  nav .row div:nth-child(3) {
    display: none;
  }
}

/* regole media query tablet */
@media all and (min-width: 769px) and (max-width: 992px) {
  /* nav */
  nav .row div:nth-child(2) {
    display: none;
  }
  nav .row div:first-child h3 a {
    color: white;
    font-size: 20px;
    padding-left: 20px;
  }
  nav i {
    font-size: 40px;
    color: white;
    line-height: 80px;
    padding-right: 20px;
    padding-top: 17px;
  }
  nav {
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* header */
  header {
    margin-top: 0;
  }

  /* main */
  /* prima sezione */
  main section:first-child img {
    max-height: 310px;
  }
  .scooter, .bike {
    line-height: 23px;
    font-size: 14px;
  }

  /* seconda sezione */
  main section:nth-child(2) .row div:last-child .centratura {
    transform: translate(-35%, -50%);
  }
  main section:nth-child(2) .row div:nth-child(2) .centratura {
    transform: translate(-60%, -50%);
  }
  .x-iphone {
    height: 300px;
  }

  /* terza sezione */
  .sfondo-blu {
    margin: 40px 60px 20px 60px;
  }
  .città1 {
    margin: 20px 60px 40px 60px;
  }

  /* quarta sezione */
  .sfondo-multi-bianco {
    padding: 40px 50px;
  }
}

/* regole media query mobile */
/* nav */
@media all and (max-width: 769px) {
  nav .row div:nth-child(2) {
    display: none;
  }
  nav .row div:first-child h3 a {
    color: white;
    font-size: 20px;
    padding-left: 20px;
  }
  nav {
    background-color: rgba(0, 0, 0, 0.4);
  }
  nav i {
    font-size: 40px;
    color: white;
    line-height: 80px;
    padding-right: 20px;
    padding-top: 17px;
  }

  /* header */
  header {
    margin-top: 0;
  }

/* main */
/* prima sezione */
.scooter, .bike {
  margin: 0 auto;
  line-height: 23px;
  font-size: 14px;
}
main section:first-child img {
  max-width: 100%;
  max-height: 400px;
}

/* seconda sezione */
.fix {
  padding-top: 360px;
}
.fix .centratura {
  top: 85%;
}
.x-iphone {
  height: 100px;
}

/* terza sezione */
.sfondo-panchine > div {
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  line-height: 20px;
}
.sfondo-panchine {
  margin: 0 30px;
}
.sfondo-blu {
  margin: 40px 30px 20px 30px;
}
.sfondo-blu img {
  max-width: 100%;
}
.città1 {
  margin: 20px 30px 40px 30px;
}

/* quarta sezione */
.sfondo-multi-bianco {
  padding: 40px 40px;
}
.social-link4 {
  word-spacing: 25px;
}

  /* footer */
  footer .row > div > div:nth-child(n+3) {
    margin-top: 30px;
  }
  .box-hr {
    padding: 7px 0;
    min-height: 35px;
    line-height: 35px;
  }
}
